{% extends 'base.html.twig' %}

{% block title %}Hello StaticsPagesController!{% endblock %}

{% block body %}
    <section class="topers">

        <div class="container">
            <h1>La liste des Topers</h1>
            <div class="user-list"><p>Fonctionnalité en cours de développement.</p>
                <h2>Bientôt ici, la liste de tous les Makers.</h2></div>
        </div>
        {% if app.user %}
            <div class="hello-user">
                <span>Bonjour {{ app.user.username }}, vous êtes déjà connecter.</span>
                <span> <a href="{{ path('home') }}">Retourner à l'accueil</a></span>
                <span> <a href="{{ path('app_logout') }}">Se déconnecter</a></span>
            </div>
        {% endif %}
    </section>
{% endblock %}
