{% extends 'base.html.twig' %}

{% block body %}
    {# {% include 'admin/partials/_header.html.twig' %} #}
    <main>
        {% block admin_main %}{%endblock%}
    </main>
    {# {% include 'admin/partials/_footer.html.twig' %} #}
{% endblock %}
