{% extends 'front/front.html.twig' %}

{% block title %}
    Tops 5 | Lister, classer, partager, aimer
{% endblock %}

{% block front_main %}
    <section class="theTop">
        <div class="container">
            <h2>
                Le Top des Tops
            </h2>
            <div class="grid topOfTop">

                {% for top in tops %}
                    <div class="card top">
                        <img
                                class="" src="" alt=""/>
                        <!-- Top details -->
                        <div class="TopContent">
                            <div class="text-center">
                                <!-- Product name -->
                                <h3 class="top-title">
                                    {{ top.title }}
                                </h3>
                                <!-- Content -->
                                <ol>
                                    {% for topElement in top.topElements %}
                                        <li>{{ (topElement.content) }}</li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
