
html {
  background-color: $violet;
  font-family: $font-family-text;
  padding: 0;
  margin: 0;
  height: 100%;

  body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: $violet;


    main, .container {
      width: 100%;
      margin: 0 auto;
      z-index: 1;

      .container {
        max-width: 1300px;
      }

    }

    .bold {
      font-weight: $bold;
    }

    .center {
      text-align: center
    }


    .grid {
      padding: 16px;
      margin: 0 -15px 10px -25px;;
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
      justify-content: center;
    }

    .card-top {
      width: 245px;
      height: 350px;
      background-color: $dark-violet;
      border-radius: 8px;
      border: 2px solid $almost-white;
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header-card {
        width: 100%;
        height: 64px;
        border-radius: 3px 3px 0px 0px;
        background: $almost-white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h3 {
          font-size: 18px;
          line-height: 18px;
          text-align: center;
          font-family: $font-family-title;
          font-weight: 800;
          color: $violet;
        }
      }

      .top-content {
        padding: 15px;

        ol {
          counter-reset: tops;
          list-style-type: decimal;
          display: flex;
          position: relative;
          flex-direction: column;
          padding: 15px;

          li {
            list-style-type: none;
            counter-increment: tops;
            position: relative;
            width: 176px;
            color: $white;
            font-weight: $bold;
            margin: 5px 20px;
            float: left;
            z-index: 3;

            &::before {
              padding: 0px 5px;
              content: counter(tops);
              position: absolute;
              left: -25px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: $orange;
              z-index: 1;
            }
          }

        }
      }

      .footer-card {
        display: flex;
        max-width: 245px;
        width: 100%;
        height: 64px;
        border-radius: 0px 0px 8px 8px;
        background: $violet;
        box-shadow: 0px -7px 10px rgba(0, 0, 0, 0.16);
      }
    }

    .card-user {
      width: 254px;
      height: 100px;
      background-color: $dark-blue;
      border-radius: 8px;
      border: 2px solid $almost-white;
      margin: 10px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .user-content{
        .user-title{
          color: $white;
          font-family: $font-family-text;
          font-weight: $bold;
          font-size: 22px;
        }
      }

      .avatar {
        display: block;
        border: solid 1px $white;
        border-radius: 50%;
        background-color: $blue-hover;

        img {
          width: 75px;
          height: 75px;
          display: block;
          border-radius: 50%;
        }
      }
    }
  }
}
