{% extends 'base.html.twig' %}

{% block title %}Wall of the Tops
{% endblock %}

{% block body %}
	<h1>All Tops</h1>
	<article>
		{% for top in tops %}
			<div>
				<h2>{{ top.title }}</h2>
			</div>
		{% else %}
			<p>Sorry, no Top yet !</p>
		{% endfor %}
	{% endblock %}
