<footer>

    <div class="topfooter">
        <div class="logo">
            <a href="{{ path('home') }}"><img src="{{asset('/images/LogoTops5.png')}}" alt="logo"></a>
        </div>
        <div class="navfooter">
            <a class="active" href="{{ path('home') }}">Home </a><a>|</a>
            <a href="#">Tous les Tops </a><a>|</a>
            <a href="#news">Les Topers </a><a>|</a>
            <a href="#contact">Les catégories </a><a>|</a>
            <a href="#about">FAQ </a><a>|</a>
            <a href="#about">Contact</a>
        </div>
        <div class="reseauxfooter">
            <ul>
                <li><i class="fab fa-instagram" href="#"></i></li>
                <li><i class="fab fa-facebook-square" href="#"></i></li>
                <li><i class="fab fa-twitter-square" href="#"></i></li>
                <li><i class="fab fa-linkedin" href="#"></i></li>
            </ul>
        </div>
    </div>
    <div class="botomfooter">
        <div class="grey-links">
             <div><p>2022 &copy; Tops 5</p><a href="#">CGU</a><a> | </a><a href="#">Mentions légales</a></div>
    </div>
</footer>



